{% extends 'base2.html.twig' %}
 {% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/datatable/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %} 
{% block body %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="h2" ><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>Estadísticas Comparativas<span class="periodo pull-right" ></span></h2>
        </div>    
        <div class="panel-body table-responsive" id="tabla_detallada" style="width:100%;" >
                <div class="col-md-12">
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                            <input name="dateInit" id="dateInit" readonly class="fecReq form-control datepicker" placeholder="Fecha Inicial" data-date-end-date="0d">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                            <input name="dateEnd" id="dateEnd" readonly class="fecReq form-control datepicker" placeholder="Fecha Final" data-date-end-date="0d">
                        </div>
                    </div>
                    <div class=" form-group col-md-4">
                        <a href="#" class="btn btn-primary col-md-6" id="search" >Generar</a>
                        <a class="btn btn-primary  col-md-6" id="clear" >Limpiar</a>
                    </div>    
                </div>
                <div class="col-md-12" >
                    <div class="col-md-6" id="comparativoMatRenCan" >
                    
                    </div> 
                    <div class="col-md-6" id="graficoMatRenCan" >
                    
                    </div> 
                </div>    
                <div class="col-md-12" >
                    <div class="col-md-6" id="comparativoTransacciones" >
                    
                    </div> 
                    <div class="col-md-6" id="graficoTransacciones" >
                    
                    </div> 
                </div>
                <div class="hide" id="rawCompare" >

                </div>
                <div class="hide" id="rawTrans" >

                </div>
        </div>    
    </div>    
                                        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts 
        '@AppBundle/Resources/public/datatable/js/*'%}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        $(document).ready(function(){
            $('#extraccion').dataTable({
                searching: false,
            });    
            
            $('#search').click(function(){
                $.blockUI({
                    message: '<div class="alert alert-info" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>Por favor espere...</div>'
                });
                var tablaProponentes = $('#extraccion').dataTable().fnDestroy();
                var dateInit = $('#dateInit').val();
                var dateEnd = $('#dateEnd').val();
                
                $.ajax({
                    url: '{{ path('estadisticasComparativas') }}',
                    type: 'POST',
                    data: {dateInit:dateInit,dateEnd:dateEnd},
                    success: function(data){
                        console.log(data);
                        var resp = JSON.parse(data);                        
                        $('#rawCompare').html(resp.tablaResultado);                     
                        
                        var options = {
                             title: {
                                text: 'Comparativo'
                            },
                            data: {
                                table: document.getElementById('tabla_comparativa'),
                                switchRowsAndColumns: true
                            },
                            chart: {
                                type: 'column'
                            },
                            xAxis: {
                                allowDecimals: false,
                            }
                        };
                        
                        
                        options.data.switchRowsAndColumns = !options.data.switchRowsAndColumns;
                        $('#graficoMatRenCan').highcharts(Highcharts.merge(options));
                        
                        
                        $('#rawTrans').html(resp.tablaTransacciones); 
                        var optionsTransacciones = {
                             title: {
                                text: 'Transacciones de Renovaci\xf3n'
                            },
                            data: {
                                table: document.getElementById('tabla_transacciones'),
                                switchRowsAndColumns: true
                            },
                            chart: {
                                type: 'column'
                            },
                            xAxis: {
                                allowDecimals: false,
                            }
                        };
                        optionsTransacciones.data.switchRowsAndColumns = !optionsTransacciones.data.switchRowsAndColumns;
                        $('#graficoTransacciones').highcharts(Highcharts.merge(optionsTransacciones));       
                        
                        
                        $('#comparativoMatRenCan').html(resp.tablaResultado2);
                        $('#toggle').click(function () {
                            options.data.switchRowsAndColumns = !options.data.switchRowsAndColumns;                            
                            $('#graficoMatRenCan').highcharts(Highcharts.merge(options));
                            return false;
                        });
                        
                        $('#comparativoTransacciones').html(resp.tablaTransacciones2);
                        
                        $('#toggle2').click(function () {
                            optionsTransacciones.data.switchRowsAndColumns = !optionsTransacciones.data.switchRowsAndColumns;                            
                            $('#graficoTransacciones').highcharts(Highcharts.merge(optionsTransacciones));
                            return false;
                        });
                        
                        $.unblockUI();                        
                        
                        
                    }
                   
                })
                return false;
            });
        });
    </script>
{% endblock javascripts %}    

{# empty Twig template #}
