{% extends 'base2.html.twig' %}
 {% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/datatable/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %} 
{% block body %}
    <div class="col-md-12">
        <h2 class="h2" ><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Estadisticas Generales</h2>
    </div>
                    {# Formulario de búsqueda #}
                    <div class="col-md-12">
                        <form action="{{ path('tabladetalle') }}" method="POST" id="formExcel" >
                            <div class="form-group">
                                <label class="sr-only">Icono FechaIn</label>
                                <div class="col-md-2" style="margin:0;padding:0;">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                                        <input name="dateInit" id="dateInit" readonly class="form-control datepicker required" placeholder="Fecha Inicial">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Icono FechaFin</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                                        <input name="dateEnd" id="dateEnd" readonly class="form-control datepicker required" placeholder="Fecha Final">
                                        {#<input type="text" name="estadoHD" id="estadoHD" value="" />
                                        <input type="text" name="municipioHD" id="municipioHD" value="" />#}
                                        <input type="hidden" name="excel" id="excel" value="1" />
                                    </div>
                                </div>
                            </div>  
                        
                        <div class="col-md-4">
                            <a class="btn btn-primary" id="search" >Generar</a>
                            <a class="btn btn-primary" id="clear" >Limpiar</a>
                            <button class="btn btn-success hide excelB" id="excelB" >Exportar Detallado</button>
                        </form>
                        </div>
                        

                    </div>
                    <div class="clearfix"><hr></div>                    
                    {# Menu Relaciones #}
                    <div class="form-group" style="margin-top: 10px;" >
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home"><h3>Matriculados</h3></a></li>
                        <li><a data-toggle="tab" href="#menu1"><h3>Renovados</h3></a></li>
                        <li><a data-toggle="tab" href="#menu2"><h3>Cancelados</h3></a></li>
                        <li><a data-toggle="tab" href="#menu3"><h3>Detallado</h3></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="clearfix"><hr></div>
                            <div class="col-md-4">                
                                <form action="{{ path('estadisticasGenerales') }}" method="POST" id="formExcel2" >
                                    <input type="hidden" name="excel" id="excel" value="1" />
                                    <input name="dateInit" id="dateInit2" type="hidden">
                                    <input name="dateEnd" id="dateEnd2" type="hidden">
                                    <button class="btn btn-success hide " id="excelB2" >Exportar Resumido</button>
                                </form>

                            </div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3>Matriculados<span class="periodo" ></span><b><span class="total pull-right" ></span></b></h3>
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_matriculados" style="width:100%;" >
                                        <table id='relmatriculados' class='table table-hover table-striped table-bordered dt-responsive estadisticasGenerales' cellspacing='0' width='100%'>
                                            <thead>
                                                <tr>
                                                    <th>Municipio</th>
                                                    <th>P. Naturales</th>
                                                    <th>Establecimientos</th>
                                                    <th>Sociedades</th>
                                                    <th>Agencias - Sucursales</th>
                                                    <th>ESAL</th>
                                                    <th>Civil</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>  
                        <div id="menu1" class="tab-pane fade">
                            <div class="clearfix"><hr></div>
                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h3>Renovados<span class="periodo" ></span><b><span class="total pull-right" ></span></b></h3>
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_renovados" style="width:100%;" >
                                        <table id='relrenovados' class='table table-hover table-striped table-bordered dt-responsive estadisticasGenerales' cellspacing='0' width='100%'>
                                            <thead>
                                                <tr>
                                                    <th>Municipio</th>
                                                    <th>P. Naturales</th>
                                                    <th>Establecimientos</th>
                                                    <th>Sociedades</th>
                                                    <th>Agencias - Sucursales</th>
                                                    <th>ESAL</th>
                                                    <th>Civil</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                        <div id="menu2" class="tab-pane fade">
                           <div class="clearfix"><hr></div>
                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        {# <div class="panel-heading text-center"> #}
                                            <h3>Cancelados<span class="periodo" ></span></h3>
                                        {# </div>    #}
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_cancelados" style="width:100%;" >
                                        <table id='relcancelados' class='table table-hover table-striped table-bordered dt-responsive estadisticasGenerales' cellspacing='0' width='100%'>
                                            <thead>
                                                <tr>
                                                    <th>Municipio</th>
                                                    <th>P. Naturales</th>
                                                    <th>Establecimientos</th>
                                                    <th>Sociedades</th>
                                                    <th>Agencias - Sucursales</th>
                                                    <th>ESAL</th>
                                                    <th>Civil</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                        </div>
                        <div id="menu3" class="tab-pane fade">
                           <div class="clearfix"><hr></div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        {# <div class="panel-heading text-center"> #}
                                            <h3>Detalle de consulta<span class="periodo" ></span>
                                        {#     <a href='#' class='btn btn-success pull-right' id="exportExcel" >Excel</a></h3>
                                        </div>    #}
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_detallada" style="width:100%;" >
                                        <table id='tablaDetalle' class='table table-hover table-striped table-bordered dt-responsive estadisticasGenerales' cellspacing='0' width='100%'>
                                            <thead>
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Cod. Organización</th>
                                                    <th>Organización</th>
                                                    <th>Categoria</th>
                                                    <th>Municipio</th>
                                                    <th>Razón Social</th>
                                                    <th>Estado</th>
                                                    <th>Fecha Matricula</th>
                                                    <th>Fecha Renovacion</th>
                                                    <th>Fecha Cancelación</th>
                                                    <th>UAR</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>Matricula</th>
                                                    <th>Cod. Organización</th>
                                                    <th>Organización</th>
                                                    <th>Categoria</th>
                                                    <th>Municipio</th>
                                                    <th>Razón Social</th>
                                                    <th>Estado</th>
                                                    <th>Fecha Matricula</th>
                                                    <th>Fecha Renovacion</th>
                                                    <th>Fecha Cancelación</th>
                                                    <th>UAR</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                        </div>            
                        {# Fin Tabla detalle de consulta #}      
                    </div>
                </div> 
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        {% javascripts 
                '@AppBundle/Resources/public/datatable/js/*'%}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
    <script>
        $(document).ready(function() {  
            /*$('.datepicker').datepicker({
                language: 'es',
                autoclose: true,
                format: 'yyyy-mm-dd',
                
            });
            $('#dateInit').change(function(){
                var dato = $(this).val();
                $('#dateInit2').val(dato);
                $('#dateEnd').datepicker('setStartDate', dato);
            });
            
            $('#dateEnd').change(function(){
                var dato = $(this).val();
                $('#dateEnd2').val(dato);
            });*/
            
            $('.estadisticasGenerales').DataTable( {
                                dom: 'Bfrtip',
                                buttons: [
                                    'excel'
                                ]
                            } ); 
                            
            $('#search').click(function(){
                $('body').trigger('click');
                var tablaDetalle = $('#tablaDetalle').dataTable().fnDestroy();
                var fecIni = $('#dateInit').val();
                var fecEnd = $('#dateEnd').val();
                $.blockUI({
                    message: '<div class="alert alert-info" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>por favor espere...</div>'
                });
                if(fecIni != '' && fecEnd != ''){
                    
                    $('#tablaDetalle th').each(function (i) {
                        if( i==3 ){
                            var select = $('<select id="codMun"><option value=""><option></option><option value="05129" >CALDAS</option><option value="05266" >ENVIGADO</option><option value="05360" >ITAGUI</option><option value="05380" >LA ESTRELLA</option><option value="05631" >SABANETA</option><option value="otroDom" >otroDomicilio</option></select>');
                            $(this).html(select);                           
                        }
                        if( i==5 ){
                            var select = $('<select id="estado"><option value=""><option></option><option>MATRICULADO</option><option>RENOVADO</option><option>CANCELADO</option></select>');
                            $(this).html(select);                           
                        }
                        /*else{
                            var title = $('#tablaDetalle th').eq($(this).index()).text();
                            $(this).html('<input type="text" />');
                        }*/
                    });
                    
                    var tablaDetalle = $('#tablaDetalle').DataTable( {
                       dom: 'Bfrtip',
                        buttons: [],
                        "ordering": false,
                        "processing": true,
                        "serverSide": true,
                        "ajax": {
                            "url": '{{ path('tabladetalle') }}',
                            "type": 'POST',
                            "data": {dateInit:fecIni , dateEnd:fecEnd , excel:'0' },
                        }
                    } );
                    
                    $('.dataTables_filter').css({ 'display': 'none' });
                    
                    $( tablaDetalle.table().container() ).on( 'change', 'select', function () {
                        $('#municipioHD').val($('#codMun').val());
                        $('#estadoHD').val($('#estado').val());
                        tablaDetalle
                            .column( 1 )
                            .search( $('#codMun').val() )
                            .column( 0 )
                            .search( $('#estado').val() )
                            .draw();
                    } );
                    
                    
                    $.ajax({
                        url: '{{ path('estadisticasGenerales') }}',
                        type: 'POST',
                        data: {dateInit:fecIni , dateEnd:fecEnd , excel:'0' },
                        success: function(data){
                            $('.excelB').removeClass('hide');
                            console.log(data);
                            var resp = JSON.parse(data);
                            $.unblockUI();
                            $('.periodo').html('  Periodo: '+fecIni+' Hasta '+fecEnd);
                            $('.total').html('Total Matriculados + Renovados: '+resp.totalMatRen);
                            $('#tabla_matriculados').html(resp.tablaMatri.matriculados);
                            $('#tabla_renovados').html(resp.tablaMatri.renovados);
                            $('#tabla_cancelados').html(resp.tablaMatri.cancelados);
                            //$('#tabla_detallada').html(resp.tablaDetalle);
                            $('#relmatriculados').DataTable( {
                                dom: 'Bfrtip',
                                buttons: [
                                    'excel'
                                ]
                            } ); 
                            $('#relrenovados').DataTable( {
                                dom: 'Bfrtip',
                                buttons: [
                                    'excel'
                                ]
                            } ); 
                            $('#relcancelados').DataTable( {
                                dom: 'Bfrtip',
                                buttons: [
                                    'excel'
                                ]
                            } ); 
                            
                            $('.dt-buttons').html('');
                            $('.dt-buttons').html('<button class="btn btn-default excelFake"  >Exportar Resumen</button>');
                            $('#tabla_detallada div.dt-buttons').html('');
                            $('.excelFake').click(function(){
                                $('#excelB2').trigger('click');
                            });
                        }
                    })
                    return false;
                    
                     
                }else{
                    $.blockUI({
                        message: '<div class="alert alert-danger" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>por favor ingrese un rango de fechas valido</div>'
                    });
                    
                    setTimeout($.unblockUI,3000);
                }
            });
            
            $('#formExcel').on('submit',function(){
                $.blockUI({
                        message: '<div class="alert alert-info" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>Por favor espere esto puede tardar unos minutos....</div>'
                    });

                    setTimeout($.unblockUI,5000);
            });
            
            $('#formExcel2').on('submit',function(){
                $.blockUI({
                        message: '<div class="alert alert-info" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>Por favor espere esto puede tardar unos minutos....</div>'
                    });

                    setTimeout($.unblockUI,5000);
            });
            {#$('#exportExcel').click(function(){
                $.blockUI({
                    message: '<div class="alert alert-success" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>por favor espere...</div>'
                });
                    
                var dateIni = $('#dateInit').val();
                var dateEnd = $('#dateEnd').val();
                var muni = $('#codMun').val();
                var estado = $('#estado').val();
                window.location.href = './exportGenerales.php?dateIni='+dateIni+'&dateEnd='+dateEnd+'&estado='+estado+'&municipio='+muni;
                
                setTimeout($.unblockUI,3000);
                
            });#}
        });
    </script>
{% endblock %}
