{% extends 'base2.html.twig' %}
 {% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/app/datatable/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %} 
{% block body %}
    <div class="col-md-12">
        <h2 class="h2" ><span class="glyphicon glyphicon-open-file" aria-hidden="true"></span>Extracción por Servicio</h2>
    </div>
                    {# Formulario de búsqueda #}
                    <div class="col-md-12">
                       {# <form id="formClear" > #}
                       <form action="{{ path('extraeserviciosDetalle') }}" method="POST" >
                            <div class="form-group">
                                <label class="sr-only">Icono FechaIn</label>
                                <div class="col-md-2" style="margin:0;padding:0;">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                                        <input name="dateInit" id="dateInit" readonly class="form-control datepicker required" placeholder="Fecha Inicial" data-date-end-date="0d">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Icono FechaFin</label>
                                <div class="col-md-2">
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></div>
                                        <input name="dateEnd" id="dateEnd" readonly class="form-control datepicker required" placeholder="Fecha Final" data-date-end-date="0d">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <select name="servicio[]" id="servicio" class="form-control selectpicker" data-live-search="true" data-actions-box="true" multiple title="Seleccionar Servicios">
                                    {% for servicio in Servicios %}
                                        <option value="{{ servicio.idservicio }}" >{{ servicio.idservicio }} - {{ servicio.nombre }}</option>
                                    {% endfor %}   
                                </select>    
                            </div>
                                <input type="hidden" name="excel" value="1" />
                                
                            <div class="col-md-4">
                                <button class="btn btn-success hide" id="excelB" >Exportar Detallado</button>                        
                                <a href="#" class="btn btn-primary" id="search" >Generar</a>
                                <a href="#" class="btn btn-primary" id="clear" >Limpiar</a>
                            </div>
                        </form>        
                    </div>
                    <div class="clearfix"><hr></div>
                    <div class="form-group" style="margin-top: 10px;" >
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><h3>Totales</h3></a></li>
                            <li><a data-toggle="tab" href="#detallado"><h3>Detallado</h3></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="clearfix"><hr></div>
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3>Informe Resumido<span class="periodo" ></span></h3>
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_totales" style="width:100%;" >

                                    </div>
                                </div>
                            </div> 
                            <div id="detallado" class="tab-pane fade">
                                <div class="clearfix"><hr></div>
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3>Informe Detallado<span class="periodo" ></span></h3>
                                    </div>
                                    <div class="panel-body table-responsive" id="tabla_detallada" style="width:100%;" >
                                        <table id='tablaServicios' class='table table-hover table-striped table-bordered dt-responsive estadisticasGenerales' cellspacing='0' width='100%'>
                                            <thead>
                                                <tr>
                                                    <th>ID. Cliente</th>
                                                    <th>Cliente</th>
                                                    <th>Sede</th>
                                                    <th>Operador</th>
                                                    <th>Operación</th>
                                                    <th>Num. recibo</th>
                                                    <th>ID. Servicio</th>
                                                    <th>Servicio</th>
                                                    <th>Cantidad</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr>
                                                    <th>ID. Cliente</th>
                                                    <th>Cliente</th>
                                                    <th>Sede</th>
                                                    <th>Operador</th>
                                                    <th>Operación</th>
                                                    <th>Num. recibo</th>
                                                    <th>ID. Servicio</th>
                                                    <th>Servicio</th>
                                                    <th>Cantidad</th>
                                                    <th>Valor</th>
                                                </tr>
                                            </tfoot>
                                        </table>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
{% endblock %}
{% block javascripts %}
    {{ parent() }}
        {% javascripts 
                '@AppBundle/Resources/public/datatable/js/*'%}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
    <script>
        $(document).ready(function() {  
            /*$('.datepicker').datepicker({
                language: 'es',
                autoclose: true,
                format: 'yyyy-mm-dd',
                
            });*/
            $('.selectpicker').selectpicker();
            $('.estadisticasGenerales').DataTable(); 
            
                
            $('#search').click(function(){
                $('body').trigger('click');
                var tablaServicios = $('#tablaServicios').dataTable().fnDestroy();
                var fecIni = $('#dateInit').val();
                var fecEnd = $('#dateEnd').val();
                var servicio = $('#servicio').val();
                $.blockUI({
                    message: '<div class="alert alert-info" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>Este proceso puede tardar unos minutos, por favor espere...</div>'
                });          
                                  
                    
                if(fecIni != '' && fecEnd != ''){
                    
                    if(servicio != ''){

                        var tablaServicios = $('#tablaServicios').DataTable( {
                           dom: 'Bfrtip',
                            buttons: [],
                            "ordering": false,
                            "processing": false,
                            "serverSide": true,
                            "ajax": {
                                "url": '{{ path('extraeserviciosDetalle') }}',
                                "type": 'POST',
                                "data": {dateInit:fecIni , dateEnd:fecEnd , servicio:servicio, excel: '0'},
                            },
                            "fnDrawCallback": function () {
                                $.unblockUI();
                            }
                        } );



                        $.ajax({
                            url: '{{ path('extraeservicios') }}',
                            type: 'POST',
                            data: {dateInit:fecIni , dateEnd:fecEnd , servicio:servicio},
                            success: function(data){
                                $('#excelB').removeClass('hide');
                                console.log(data);
                                var resp = JSON.parse(data);
                                $.unblockUI();
                                $('.periodo').html('  Periodo: '+fecIni+' Hasta '+fecEnd);
                                $('#tabla_totales').html(resp.tablaTotales);

                                $('#tablaTotales').DataTable( {
                                    dom: 'Bfrtip',
                                    buttons: [
                                        'excel'
                                    ]
                                } ); 
                                $('#tableTotales tbody tr:odd').css('background-color','#d6e9c6');
                            }
                        })
                        return false;
                    }else{
                        $.blockUI({
                            message: '<div class="alert alert-danger" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>por favor seleccione al menos un servico.</div>'
                        });

                        setTimeout($.unblockUI,3000);
                    }
                }else{
                    $.blockUI({
                        message: '<div class="alert alert-danger" role="alert" style="font-size:20px; margin:0; padding:10px;" ><span class="sr-only">Error:</span>por favor ingrese un rango de fechas valido</div>'
                    });
                    
                    setTimeout($.unblockUI,3000);
                }
            });
        });
    </script>
{% endblock %}
